body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #333;
    margin: 0;
    padding: 10px;
}

a {
text-decoration: none;
font-weight: bold;
}

.cisco-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 20px;
  justify-content: center;
}

.cisco-pod {
  background-color: #e6faff;
  border: 2px solid #008fb3;
  border-radius: 12px;
  padding: 10px;
}
