body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.6em;
  color: #000000;
  background-color: #ffffff;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex: 1;
}

.general-wrapper {
  margin: 0 auto;
  max-width: 1120px;
  background-color: #ffffff;
  border: 2px solid #003380;
  border-radius: 20px;
  padding: 1rem;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: #e60000;
}

a:hover {
  text-decoration: underline;
  font-weight: normal;
  color: #e60000;
}

.imgcenter {
  display: block;
  margin: auto;
  text-align: center;
}
.hello {
  font-weight: bold;
}

.hrtag {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.cisco-pod {
  background-color: #fdfeff;
  border: 2px solid #003380;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.filler-space {
  min-height: 40px;
}

/* Youtube video responsive code */

.video-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* Center the container horizontally on the page */
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container {
  position: relative;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
